body {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tabs__buttons {
    display: flex;
    gap: 8px;
}

.tabs__button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.tabs__button--active {
    background-color: #f07178;
    color: white;
}


